@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,400;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Arima", cursive, serif;
}

:root {
  --main-color: #1a2d39;
  --secondary-color: #ced4da;
}

header {
  background-image: url(/img/mountains.jpg);
  min-height: 93svh;
}

header ul {
  list-style-type: none;
  font-family: "Albert Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-color);
  font-family: "Albert Sans", sans-serif;
}

a:hover {
  color: var(--main-color);
  font-weight: 800;
}

.glass {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  min-height: 90svh;
  justify-content: center;
}

h3 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}
p {
  line-height: 2rem;
}

footer {
  color: var(--secondary-color);
  background-color: var(--main-color);
  height: 10svh;
}
.paragraph-wrapper {
  align-items: self-start;
}

.courses {
  box-shadow: var(--main-color) 0.5rem 0.5rem;
  height: 30svh;
  cursor: pointer;
}

.courses p {
  display: none;
}

.courses h3 {
  font-family: "Arima", serif;
}

.is-inactive {
  display: none;
}

.is-active {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100svh;
  background-color: var(--main-color);
  color: var(--secondary-color);
  overflow: scroll;
  display: contents;
}

.is-active p {
  line-height: 2.5rem;
  font-size: 1.5rem;
  display: inline-block;
}

.is-active h3 {
  display: none;
}

@media (max-width: 767px) {
  header {
    color: rgb(255, 255, 255);
  }
  header a {
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  #navbarTogglerDemo02 {
    height: 100svh;
  }

  .is-active p {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  header {
    color: #ffffff;
  }
}
